.my-skills {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
	padding: 50px 85px;
}

@media (max-width: 575.98px) {
	.my-skills {
		padding: 50px 20px;
	}
}

.skill-header {
	font-size: 28px;
}

.my-skills-containter {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

@media (max-width: 575.98px) {
	.my-skills-containter {
		gap: 50px;
	}
}
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #faf9f9;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
}

.img-bg {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.05) 1.95px 1.95px 2.6px;
}

.img-bg .card-img-top {
	background-color: #fff;
	width: 60px;
	margin: 20px;
}

.card-name {
	font-size: 24px;
	font-weight: 700;
	color: #333;
	min-height: 60px;
}

@media (max-width: 575.98px) {
	.card-title {
		font-size: 18px;
	}

	.card {
		padding: 15px;
	}
}
