.language-switcher-btn {
  background-color: #2b3035; /* Hellgrau */
  color: #fff; /* Dunkelgrau */
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
  transition: all 225ms ease;
  font-weight: bold;
}

.language-switcher-btn:hover {
  opacity: 0.9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
