.datenschutz h1 {
	font-size: 22px !important;
}

.datenschutz h2 {
	font-size: 20px !important;
}

.datenschutz h3 {
	font-size: 18px !important;
}

.datenschutz h4 {
	font-size: 18px !important;
}

.datenschutz p {
	font-size: 16px !important;
}

.back-icon-link {
	position: absolute;
	right: 5%;
}

.back-icon {
	color: #2b3035;
	font-size: 40px;
}

.back-icon:hover {
	opacity: 0.95;
}

.container {
}
