.navbar-container {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn.btn-outline-dark {
	border-color: #2b3035;
	color: #2b3035;
	font-size: 18px;
	font-weight: 500;
	border-radius: 12px;
	max-width: 200px;
}
.btn.btn-outline-dark:hover {
	color: #fff;
	background-color: #2b3035;
}

a.nav-link {
	font-size: 20px;
	cursor: pointer;
	font-weight: 700;
}

a.btn.btn-outline-light {
	font-size: 20px;
	font-weight: 500;
}
